<h1 matDialogTitle>{{data.title}}</h1>

<form [formGroup]="roleForm" (ngSubmit)="submit()">

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput name="nome" id="nome" [formControl]="roleForm.controls['nome']" placeholder="Nome">
      </mat-form-field>
      <small *ngIf="roleForm.controls['nome'].hasError('required') && roleForm.controls['nome'].touched" class="form-error-msg">
      O Nome é obrigatório
      </small>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput type="descricao" name="descricao" id="descricao" [formControl]="roleForm.controls['descricao']" placeholder="Descrição">
      </mat-form-field>
    </div>

    <div fxflex="50" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select name="situacao" formControlName="situacao" placeholder="Situação" class="mb-1">
              <mat-option value="Ativo" ngDefaultControl>Ativo</mat-option>
              <mat-option value="Inativo" ngDefaultControl>Inativo</mat-option>
            </mat-select>
          </mat-form-field>
          <small *ngIf="roleForm.controls['situacao'].hasError('required') && roleForm.controls['situacao'].touched" class="form-error-msg">
          A situação é obrigatório </small>
      </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="roleForm.invalid">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
</form>
