<!-- pesquisa -->
<div class="m-1" *ngIf="!formulario">
  <form [formGroup]="filterForm">
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <mat-select name="pesquisarpor" id="pesquisarpor" placeholder="Por" class="mb-1" [formControl]="filterForm.controls['pesquisarpor']">
            <mat-option value="carencia" ngDefaultControl>Carência</mat-option>
            <mat-option value="procedimento" ngDefaultControl>Procedimento</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1" [formControl]="filterForm.controls['search']">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarPlanoxcarencias()" [disabled]="filterForm.invalid" matTooltip="Pesquisar carências">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="mr-1" (click)="todosPlanoxcarencias()" matTooltip="Listar todas carências"><mat-icon>list</mat-icon></button>
  <span fxFlex="10px"></span>
  <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormulario(0)" [disabled]="!InserirPlanoxcarencia" *ngIf="!formulario"
    matTooltip="Inserir carência">
    <mat-icon>create</mat-icon>
  </button>
</div>
<!-- fim pesquisa -->

<!-- Formulário -->
<div *ngIf="formulario">
  <mat-card class="p-0">
    <mat-card-content>
      <mat-card-header class="pb-1">
        <div *ngIf="id==0">
          <h5 class="pb-1">
            <strong> Nova </strong> Carência</h5>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="id>0">
          <h5 class="pb-1">
            <strong> Alterar </strong> Carência</h5>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <form [formGroup]="planoxcarenciaForm" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

          <div fxFlex="100" class="pr-1 pt-1">
            <mat-form-field class="full-width">
              <mat-select name="procedimento_id" id="procedimento_id" [formControl]="planoxcarenciaForm.controls['procedimento_id']" placeholder="Procedimento"
                class="mb-1">
                <mat-option *ngFor="let procedimento of procedimentos" [value]="procedimento.id">
                  {{procedimento.procedimento}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="planoxcarenciaForm.controls['procedimento_id'].hasError('required') && planoxcarenciaForm.controls['procedimento_id'].touched"
              class="form-error-msg">
              O procedimento é obrigatório </small>

            <mat-form-field class="full-width">
              <input matInput name="carencia" id="carencia" [formControl]="planoxcarenciaForm.controls['carencia']" placeholder="Carência:">
            </mat-form-field>
            <small *ngIf="planoxcarenciaForm.controls['carencia'].hasError('required') && planoxcarenciaForm.controls['carencia'].touched"
              class="form-error-msg">
              A carência é obrigatória </small>
          </div>

          <mat-form-field class="full-width">
            <mat-select name="tempo" [formControl]="planoxcarenciaForm.controls['tempo']" placeholder="Tempo" class="mb-1">
              <mat-option value="h" ngDefaultControl>Hora</mat-option>
              <mat-option value="d" ngDefaultControl>Dia</mat-option>
              <mat-option value="m" ngDefaultControl>Mês</mat-option>
              <mat-option value="a" ngDefaultControl>Ano</mat-option>
            </mat-select>
          </mat-form-field>
          <small *ngIf="planoxcarenciaForm.controls['tempo'].hasError('required') && planoxcarenciaForm.controls['tempo'].touched"
            class="form-error-msg">
           O tempo é obrigatório </small>

          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="planoxcarenciaForm.invalid">Salvar</button>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" type="button" (click)="cancelarFormulario()">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim formulário -->

<!-- Tabela  -->
<div *ngIf="planoxcarencias.length && !formulario">
  <mat-card class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="planoxcarencias" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
      [externalPaging]="true" [count]="page_totalElements" [offset]="page_pageNumber" [limit]="page_size" (page)='paginacao($event)'
      [rowHeight]="40">
      <ngx-datatable-column name="Procedimento" [flexGrow]="3">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.procedimento?.procedimento }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Carência" [flexGrow]="2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.dcarencia }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Ação" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="abrirFormulario(row.id )" [disabled]="!AlterarPlanoxcarencia"
            matTooltip="Editar Carência">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="warn" (click)="removerPlanoxcarencia(row)" [disabled]="!ExcluirPlanoxcarencia "
            matTooltip="Excluir Carência">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card>
</div>
<!-- fim tabela -->
