<!-- pesquisa -->
<div class="m-1">
  <form [formGroup]="filterForm">
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <mat-select name="pesquisarpor" id="pesquisarpor" placeholder="Por" class="mb-1" [formControl]="filterForm.controls['pesquisarpor']">
            <mat-option value="rede" ngDefaultControl>Rede</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1" [formControl]="filterForm.controls['search']">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarRedes()" [disabled]="filterForm.invalid"  matTooltip="Pesquisar rede">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="mr-1" (click)="todasRedes()" atTooltip="Pesquisar rede">
    <mat-icon>list</mat-icon>
  </button>
  <span fxFlex="20px"></span>
  <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormulario(0)" [disabled]="!InserirRede" *ngIf="!formulario" matTooltip="Inserir rede">
    <mat-icon>create</mat-icon>
  </button>
</div>
<!-- fim pesquisa -->

<!-- Formulário -->
<div *ngIf="formulario">
  <mat-card class="p-0">
    <mat-card-content>
      <mat-card-header class="pb-1">
        <div *ngIf="id==0">
          <h5 class="pb-1">
            <strong> Nova </strong> rede</h5>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="id>0">
          <h5 class="pb-1">
            <strong> Alterar </strong> rede</h5>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <form [formGroup]="redeForm" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1 pt-1">
            <mat-form-field class="full-width">
              <input matInput name="rede" id="rede" [formControl]="redeForm.controls['rede']" placeholder="Rede">
            </mat-form-field>
            <small *ngIf="redeForm.controls['rede'].hasError('required') && redeForm.controls['rede'].touched" class="form-error-msg">
              A rede é obrigatória
            </small>
            <small *ngIf="redeForm.controls['rede'].hasError('maxlength') && redeForm.controls['rede'].touched"
              class="form-error-msg"> Máximo 100 caracteres 
            </small>
          </div>

          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="url" id="url" [formControl]="redeForm.controls['url']" placeholder="Url">
            </mat-form-field>
            <small *ngIf="redeForm.controls['url'].hasError('required') && redeForm.controls['url'].touched" class="form-error-msg">
              A URL da rede é obrigatória
            </small>
            <small *ngIf="redeForm.controls['url'].hasError('url') && redeForm.controls['url'].touched"
              class="form-error-msg"> URL inválida 
            </small>
          </div>

          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="redeForm.invalid" matTooltip="Salvar rede">Salvar</button>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" type="button" (click)="cancelarFormulario()" matTooltip="Voltar">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim formulário -->

<!-- Tabela  -->
<div *ngIf="redes.length && !formulario">
  <mat-card class="p-0">
    <mat-card-content class="p-0">
      <ngx-datatable class="material ml-0 mr-0" [rows]="redes" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [externalPaging]="true"
        [count]="page_totalElements" [offset]="page_pageNumber" [limit]="page_size" (page)='paginacao($event)' [rowHeight]="'auto'">
        <ngx-datatable-column name="Rede" [flexGrow]="3">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.rede }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Url" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.url }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ação" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="abrirFormulario(row.id )" [disabled]="!AlterarRede" matTooltip="Alterar rede">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="warn" (click)="removerRede(row)" [disabled]="!ExcluirRede" matTooltip="Excluir rede">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim tabela -->