<!-- pesquisa -->
<div class="m-1"  *ngIf="!formulario">
  <form [formGroup]="filterForm">
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <mat-select name="pesquisarpor" id="pesquisarpor" placeholder="Por" class="mb-1" [formControl]="filterForm.controls['pesquisarpor']">
            <mat-option value="coparticipacao" ngDefaultControl>Cooparticipação</mat-option>
            <mat-option value="valor" ngDefaultControl>Valor</mat-option>
            <mat-option value="situacao" ngDefaultControl>Situação</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1" [formControl]="filterForm.controls['search']">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarPlanoxcoparticipacoes()" [disabled]="filterForm.invalid"
    matTooltip="Pesquisar Cooparticipação">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="mr-1" (click)="todosPlanoxcoparticipacoes()" matTooltip="Listar todas cooparticipações"><mat-icon>list</mat-icon></button>
  <span fxFlex="10px"></span>
  <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormulario(0)" [disabled]="!InserirPlanoxcoparticipacao" *ngIf="!formulario"
    matTooltip="Inserir Cooparticipação">
    <mat-icon>create</mat-icon>
  </button>
</div>
<!-- fim pesquisa -->

<!-- Formulário -->
<div *ngIf="formulario">
  <mat-card class="p-0">
    <mat-card-content>
      <mat-card-header class="pb-1">
        <div *ngIf="id==0">
          <h5 class="pb-1">
            <strong> Nova </strong> Cooparticipação</h5>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="id>0">
          <h5 class="pb-1">
            <strong> Alterar </strong> Cooparticipação</h5>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <form [formGroup]="planoxcoparticipacaoForm" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

          <div fxFlex="100" class="pr-1 pt-1">
            <mat-form-field class="full-width">
              <mat-select name="coparticipacao_id" id="coparticipacao_id" [formControl]="planoxcoparticipacaoForm.controls['coparticipacao_id']" placeholder="Cooparticipação"
                class="mb-1">
                <mat-option *ngFor="let coparticipacao of coparticipacoes" [value]="coparticipacao.id">
                  {{coparticipacao.coparticipacao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="planoxcoparticipacaoForm.controls['coparticipacao_id'].hasError('required') && planoxcoparticipacaoForm.controls['coparticipacao_id'].touched"
              class="form-error-msg">
              A cooparticipação é obrigatória </small>

              
          <mat-form-field class="full-width">
            <mat-select name="tipovalor" [formControl]="planoxcoparticipacaoForm.controls['tipovalor']" placeholder="Valor em" class="mb-1">
              <mat-option value="V" ngDefaultControl>R$</mat-option>
              <mat-option value="P" ngDefaultControl>%</mat-option>
            </mat-select>
          </mat-form-field>
          <small *ngIf="planoxcoparticipacaoForm.controls['tipovalor'].hasError('required') && planoxcoparticipacaoForm.controls['tipovalor'].touched"
            class="form-error-msg">
           O tipovalor é obrigatório </small>

            <mat-form-field class="full-width">
              <input matInput name="valor" id="valor" [formControl]="planoxcoparticipacaoForm.controls['valor']" placeholder="Valor:">
            </mat-form-field>
            <small *ngIf="planoxcoparticipacaoForm.controls['valor'].hasError('required') && planoxcoparticipacaoForm.controls['valor'].touched"
              class="form-error-msg">
              O valor é obrigatório </small>
          </div>

          <mat-form-field class="full-width">
            <mat-select name="situacao" [formControl]="planoxcoparticipacaoForm.controls['situacao']" placeholder="Situação" class="mb-1">
              <mat-option value="Ativo" ngDefaultControl>Ativo</mat-option>
              <mat-option value="Inativo" ngDefaultControl>Inativo</mat-option>
            </mat-select>
          </mat-form-field>
          <small *ngIf="planoxcoparticipacaoForm.controls['situacao'].hasError('required') && planoxcoparticipacaoForm.controls['situacao'].touched"
            class="form-error-msg">
            A situação é obrigatória </small>

          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="planoxcoparticipacaoForm.invalid">Salvar</button>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" type="button" (click)="cancelarFormulario()">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim formulário -->

<!-- Tabela  -->
<div *ngIf="planoxcoparticipacoes.length && !formulario">
  <mat-card class="p-0">
      <ngx-datatable class="material ml-0 mr-0" [rows]="planoxcoparticipacoes" [columnMode]="'inherit'" [headerHeight]="50" [footerHeight]="50"
        [externalPaging]="true" [count]="page_totalElements" [offset]="page_pageNumber" [limit]="page_size" (page)='paginacao($event)'
        [rowHeight]="'auto'">
        <ngx-datatable-column name="Cooparticipação" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.coparticipacao?.coparticipacao }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Valor/Perc" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
           <span *ngIf="row.tipovalor == 'V'">
            {{ row?.valor | currency: 'BRL': 'symbol' }}
          </span>
          <span *ngIf="row.tipovalor == 'P'">
              %{{row?.valor}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Situação" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.situacao }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ação" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="abrirFormulario(row.id )" [disabled]="!AlterarPlanoxcoparticipacao"
              matTooltip="Editar cooparticipação">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="warn" (click)="removerPlanoxcoparticipacao(row)" [disabled]="!ExcluirPlanoxcoparticipacao "
              matTooltip="Excluir cooparticipação">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
  </mat-card>
</div>
<!-- fim tabela -->
