<!-- pesquisa -->
<div class="m-1" *ngIf="!formulario">
  <form [formGroup]="filterForm">
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <mat-select name="pesquisarpor" id="pesquisarpor" placeholder="Por" class="mb-1" [formControl]="filterForm.controls['pesquisarpor']">
            <mat-option value="item" ngDefaultControl>Item</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1" [formControl]="filterForm.controls['search']">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarPlanoxitens()" [disabled]="filterForm.invalid"
    matTooltip="Pesquisar item">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="mr-1" (click)="todosPlanoxitens()" matTooltip="Listar todos itens"><mat-icon>list</mat-icon></button>
  <span fxFlex="10px"></span>
  <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormulario(0)" [disabled]="!InserirPlanoxitem" *ngIf="!formulario"
    matTooltip="Inserir item">
    <mat-icon>create</mat-icon>
  </button>
</div>
<!-- fim pesquisa -->

<!-- Formulário -->
<div *ngIf="formulario">
  <mat-card class="p-0">
    <mat-card-content>
      <mat-card-header class="pb-1">
        <div *ngIf="id==0">
          <h5 class="pb-1">
            <strong> Novo </strong> Item</h5>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="id>0">
          <h5 class="pb-1">
            <strong> Alterar </strong> Item</h5>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <form [formGroup]="planoxitemForm" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

          <div fxFlex="100" class="pr-1 pt-1">
            <mat-form-field class="full-width">
              <mat-select name="item_id" id="item_id" [formControl]="planoxitemForm.controls['item_id']"
                placeholder="Item" class="mb-1">
                <mat-option *ngFor="let item of itens" [value]="item.id">
                  {{item.item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="planoxitemForm.controls['item_id'].hasError('required') && planoxitemForm.controls['item_id'].touched"
              class="form-error-msg">
              O item é obrigatório </small>
		  </div>
		  
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="planoxitemForm.invalid">Salvar</button>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" type="button" (click)="cancelarFormulario()">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim formulário -->

<!-- Tabela  -->
<div *ngIf="planoxitens.length && !formulario">
  <mat-card class="p-0">
    <ngx-datatable class="material ml-0 mr-0" [rows]="planoxitens" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
      [externalPaging]="true" [count]="page_totalElements" [offset]="page_pageNumber" [limit]="page_size" (page)='paginacao($event)'
      [rowHeight]="40">

      <ngx-datatable-column name="Item" [flexGrow]="2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.item?.item }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Ação" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="abrirFormulario(row.id )" [disabled]="!AlterarPlanoxitem"
            matTooltip="Editar Item">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="warn" (click)="removerPlanoxitem(row)" [disabled]="!ExcluirPlanoxitem "
            matTooltip="Excluir item">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card>
</div>
<!-- fim tabela -->