<div>
  <!-- inicia a navegação lateral e no topo, tudo que for colocado aqui, se torna parte da navegação -->
  <mat-sidenav-container>
    <!-- define se a lateral começa aberta ou fechada passando o argumento *ngif -->
    <mat-sidenav EgretSideNavToggle class="shop-sidebar" *ngIf="isSideNavOpen">
      <!-- coloca na tela o campo de filtro com as definições da classe -->
      <!--
      <div class="shop-filters-wrap">
        <!-- define um 'accordion' um menu que se expande e retrai quando chamado atraves de um botão(ação) -
          <mat-accordion multi="true" displayMode="flat">
            <!-- expande o painel se a chamada for verdadeira
            <mat-expansion-panel expanded="true">
              <!-- cabeçalho do painel -
              <mat-expansion-panel-header>
                <!-- Titulo do painel -
                <mat-panel-title>
                  Situação
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- corpo do painel na opção 'Situação', mostra uma lista de opções validas
              <ul class="product-categories">
                  <!-- primeira opção define o campo como igual a situação, passando a função 'click' para chamar a ação
                 <li [ngClass]="{'fw-500': '' === situacao}" (click)="pesquisarSituacao('')">Todas</li>
                 <li [ngClass]="{'fw-500': 'Ativo' === situacao}" (click)="pesquisarSituacao('Ativo')">Ativo</li>
                 <li [ngClass]="{'fw-500': 'Inativo' === situacao}" (click)="pesquisarSituacao('Inativo')">Inativo</li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
      </div>
    -->
    </mat-sidenav>

    <!-- define as dimensões da view passando a classe  -->
    <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">
      <!-- define como completa a dimensão lateral da view -->
      <div class="full-width">
        <!-- define a div como linha(row) coluna e que é um cabeçalho/Titulo/ações, no caso é o Titulo -->
        <div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar">
          <!-- cria um botão com a ação de inicializar o menu de expansão lateral (expande o menu Situação) -->
        <!--<button mat-icon-button class="mr-1" (click)="toggleSideNav()"><mat-icon>short_text</mat-icon></button>-->
              <!-- exibe o filtro de pesquisa -->
              <form [formGroup]="filterForm">
                <!-- define as dimensões de exibição -->
                <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
                  <!-- a classe pb significa um Pandinng Bottom -->
                  <div class="pb-1">
                    <!--  -->
                    <mat-form-field class="full-width default-bg">
                      <!-- define as opoções do select passando o value de acordo com o campo -->
                      <mat-select name="pesquisarpor"
                        [(ngModel)]="pesquisarpor"  placeholder="Por" class="mb-1" [formControl]="filterForm.controls['pesquisarpor']">
                        <mat-option  value="modulo" ngDefaultControl>Módulo</mat-option>
                        <mat-option  value="situacao" ngDefaultControl>Situação</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
                  <div class="pb-1">
                    <mat-form-field class="full-width default-bg">
                        <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1" [formControl]="filterForm.controls['search']">
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <!--  -->
              <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarModulos()" [disabled]="filterForm.invalid"><mat-icon>search</mat-icon></button>
              <span fxFlex></span>
              <span fxFlex="20px"></span>
              <button mat-mini-fab color="warn" class="mr-1" (click)="openPopUp({}, true)" [disabled]="!InserirModulo"><mat-icon>create</mat-icon></button>
        </div>
        <!-- Products container -->
        <div  *ngIf="modulos.length">
        <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
        <mat-card-content class="p-0">
          <ngx-datatable
                class="material ml-0 mr-0"
                [rows]="modulos"
                [columnMode]="'flex'"
                [headerHeight]="50"
                [footerHeight]="50"
                [limit]="10"
                [rowHeight]="'auto'">
                <ngx-datatable-column name="Módulo" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.modulo }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Sequência" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.sequencia }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ícone" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.icone }}
                    </ng-template>
                  </ngx-datatable-column>
                <ngx-datatable-column name="Situação" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.situacao }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ação" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)" [disabled]="!AlterarModulo"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)" [disabled]="!ExcluirModulo || row?.programas_count > 0"><mat-icon>delete</mat-icon></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
        </mat-card-content>
      </mat-card>
        </div>
        <!-- End Products container -->
      </div>
    </div>
  </mat-sidenav-container>
</div>
