<!-- pesquisa -->
<div class="m-1">
  <form [formGroup]="filterForm">
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <mat-select name="pesquisarpor" id="pesquisarpor" placeholder="Por" class="mb-1"
            [formControl]="filterForm.controls['pesquisarpor']">
            <mat-option value="operadora" ngDefaultControl>Operadora</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1"
            [formControl]="filterForm.controls['search']">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarOperadoras()" [disabled]="filterForm.invalid"
    matTooltip="Pesquisar Operadoras">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="mr-1" (click)="todasOperadoras()" matTooltip="Listar todas Situaões">
    <mat-icon>list</mat-icon>
  </button>
  <span fxFlex="10px"></span>
  <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormulario(0)" [disabled]="!InserirOperadora"
    *ngIf="!formulario" matTooltip="Inserir novo operadora">
    <mat-icon>create</mat-icon>
  </button>
</div>
<!-- fim pesquisa -->
<!-- Formulário -->
<div fxLayout="row" fxLayout.lt-sm="column">
  <mat-card *ngIf="formulario" fxFlex="100">
    <mat-card-content>
      <mat-card-title>
        <div class="pb-0">
          <strong *ngIf="id==0">Nova operadora</strong>
          <strong *ngIf="id>0">Revisar operadora</strong>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <form [formGroup]="operadoraForm" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="cnpj" id="cnpj" [textMask]="{mask: maskcnpj}"
                [formControl]="operadoraForm.controls['cnpj']" placeholder="CNPJ">
            </mat-form-field>
            <small *ngIf="operadoraForm.controls['cnpj'].hasError('required') && operadoraForm.controls['cnpj'].touched"
              class="form-error-msg">
              CNPJ obrigatório </small>
          </div>
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="operadora" id="operadora" [formControl]="operadoraForm.controls['operadora']"
                placeholder="Operadora">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['operadora'].hasError('required') && operadoraForm.controls['operadora'].touched"
              class="form-error-msg">
              A operadora é obrigatório
            </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput type="email" name="email" id="email" [formControl]="operadoraForm.controls['email']"
                placeholder="Email">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['email'].hasError('required') && operadoraForm.controls['email'].touched"
              class="form-error-msg">
              E-mail do associado é obrigatório
            </small>
            <small *ngIf="operadoraForm.controls['email'].hasError('email') && operadoraForm.controls['email'].touched"
              class="form-error-msg">
              E-mail inválido
            </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput type="siteurl" name="siteurl" id="siteurl"
                [formControl]="operadoraForm.controls['siteurl']" placeholder="Url site">
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="telefone" id="telefone" [textMask]="{mask: masktelefone}"
                [formControl]="operadoraForm.controls['telefone']" placeholder="Telefone">
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="cep" id="cep" [textMask]="{mask: maskcep}" (change)="obterCep()"
                [formControl]="operadoraForm.controls['cep']" placeholder="Cep">
            </mat-form-field>
            <small *ngIf="operadoraForm.controls['cep'].hasError('required') && operadoraForm.controls['cep'].touched"
              class="form-error-msg">
              CEP obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="logradouro" id="logradouro" [formControl]="operadoraForm.controls['logradouro']"
                placeholder="Logradouro">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['logradouro'].hasError('required') && operadoraForm.controls['logradouro'].touched"
              class="form-error-msg"> Logradouro Obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput type="number" name="numero" id="numero" [formControl]="operadoraForm.controls['numero']"
                placeholder="Numero">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['numero'].hasError('required') && operadoraForm.controls['numero'].touched"
              class="form-error-msg">
              Numero obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="complemento" id="complemento" [formControl]="operadoraForm.controls['complemento']"
                placeholder="Complemento">
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="bairro" id="bairro" [formControl]="operadoraForm.controls['bairro']"
                placeholder="Bairro">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['bairro'].hasError('required') && operadoraForm.controls['bairro'].touched"
              class="form-error-msg">
              Bairro obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="cidade" id="cidade" [formControl]="operadoraForm.controls['cidade']"
                placeholder="Cidade">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['cidade'].hasError('required') && operadoraForm.controls['cidade'].touched"
              class="form-error-msg">
              Cidade obrigatória </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="estado" id="estado" [formControl]="operadoraForm.controls['estado']"
                placeholder="Estado">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['estado'].hasError('required') && operadoraForm.controls['estado'].touched"
              class="form-error-msg">
              Estado obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="taxa_cadastro" id="taxa_cadastro"
                [formControl]="operadoraForm.controls['taxa_cadastro']" placeholder="Taxa de cadastro">
            </mat-form-field>
            <small
              *ngIf="operadoraForm.controls['taxa_cadastro'].hasError('required') && operadoraForm.controls['taxa_cadastro'].touched"
              class="form-error-msg">
              O valor é obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select name="bank_code" formControlName="bank_code" placeholder="Banco" class="mb-1">
                <mat-option *ngFor="let banco of bancos" [value]="banco.id">
                  {{banco.id}} - {{banco.banco}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="25" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="agencia" id="agencia" [formControl]="operadoraForm.controls['agencia']"
                placeholder="Agência">
            </mat-form-field>
          </div>

          <div fxFlex="25" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="agencia_dv" id="agencia_dv" [formControl]="operadoraForm.controls['agencia_dv']"
                placeholder="Agência Digito">
            </mat-form-field>
          </div>

          <div fxFlex="25" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="conta" id="agencia" [formControl]="operadoraForm.controls['conta']"
                placeholder="Conta">
            </mat-form-field>
          </div>

          <div fxFlex="25" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="conta_dv" id="agencia" [formControl]="operadoraForm.controls['conta_dv']"
                placeholder="Conta Digito">
            </mat-form-field>
          </div>

          <!-- mostra imagem -->
          <div fxFlex="100">
            <img class="img" [src]="logos" *ngIf="id>0 && logos != ''">
            <!-- Foto  -->
            <input type="file" name="logo" id="logo" [formControl]="operadoraForm.controls['logo']" #fileInput />
            <!-- fim foto -->
            <!-- fim mostra imagem -->
          </div>
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" class="mr-1 mt-1"
              [disabled]="operadoraForm.invalid">Salvar</button>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" type="button" class="mt-1"
              (click)="cancelarFormulario()">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- Tabela  -->
<div fxLayout="row" fxLayout.lt-sm="column">
  <mat-card class="p-0" fxFlex="100" *ngIf="!formulario">
    <mat-card-content class="p-0">
      <ngx-datatable class="material ml-0 mr-0" [rows]="operadoras" [columnMode]="'flex'" [headerHeight]="50"
        [footerHeight]="50" [externalPaging]="true" [count]="page_totalElements" [offset]="page_pageNumber"
        [limit]="page_size" (page)='paginacao($event)' [selected]="selectedOperadora" [selectionType]="'single'"
        (select)='onSelectOperadora($event)' [rowHeight]="40" *ngIf="operadoras.length">
        <ngx-datatable-column name="Operadora" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.operadora }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Telefone" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.telefone }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.email }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ação" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="abrirFormulario(row.id)"
              [disabled]="!AlterarOperadora" matTooltip="Editar operadora">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="warn" (click)="removerOperadora(row)"
              [disabled]="!ExcluirOperadora || row?.planos_count > 0" matTooltip="Excluir operadora">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>

  <!-- <div class="full-width" fxFlex="50">
    <div class="m-1">
      <span>{{operadora}}</span>
      <span fxFlex="10px"></span>
      <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormularioVigencia(0)"
        [disabled]="!InserirVigencia" matTooltip="Inserir nova vigencia">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <mat-card class="p-0" class="full-width"  *ngIf="!vigencia_formulario">
      <mat-card-content class="p-0">
        <ngx-datatable class="material ml-0 mr-0" [rows]="vigencias" [columnMode]="'flex'" [headerHeight]="50"
          [footerHeight]="50" [externalPaging]="true" [count]="vigencia_page_totalElements"
          [offset]="vigencia_page_pageNumber" [limit]="vigencia_page_size" (page)='paginacaoVigencia($event)'
          [rowHeight]="40" *ngIf="vigencias.length">
          <ngx-datatable-column name="Dia de Vencimento" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.diavencimento }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Confirmado dia de" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.diade }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Confirmado dia até" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.diaate }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Soma no Mês" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.somanomes }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Ação" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                (click)="abrirFormularioVigencia(row.id)" [disabled]="!AlterarVigencia" matTooltip="Editar Vigencia">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button mat-sm-button color="warn" (click)="removerVigencia(row)"
                [disabled]="!ExcluirVigencia" matTooltip="Excluir Vigencia">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>
    </mat-card>
    <mat-card class="p-0" class="full-width" *ngIf="vigencia_formulario">
      <mat-card-content class="p-0">
        <mat-card-title>
          <div class="pb-0">
            <strong *ngIf="id==0">Nova vigencia</strong>
            <strong *ngIf="id>0">Revisar vigencia</strong>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>
        <form [formGroup]="vigenciaForm" (ngSubmit)="submitVigencia()">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="diavencimento" id="diavencimento"
                  [formControl]="vigenciaForm.controls['diavencimento']" placeholder="Dia de vencimento">
              </mat-form-field>
              <small
                *ngIf="vigenciaForm.controls['diavencimento'].hasError('required') && vigenciaForm.controls['diavencimento'].touched"
                class="form-error-msg">
                Obrigatório </small>
            </div>
            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="diade" id="diade" [formControl]="vigenciaForm.controls['diade']"
                  placeholder="Confirmado dia de">
              </mat-form-field>
              <small
                *ngIf="vigenciaForm.controls['diade'].hasError('required') && vigenciaForm.controls['diade'].touched"
                class="form-error-msg">
                Obrigatório </small>
            </div>
            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="diaate" id="diaate" [formControl]="vigenciaForm.controls['diaate']"
                  placeholder="Confirmado dia até">
              </mat-form-field>
              <small
                *ngIf="vigenciaForm.controls['diaate'].hasError('required') && vigenciaForm.controls['diaate'].touched"
                class="form-error-msg">
                Obrigatório </small>
            </div>
            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="somanomes" id="somanomes" [formControl]="vigenciaForm.controls['somanomes']"
                  placeholder="Soma no Mês">
              </mat-form-field>
              <small
                *ngIf="vigenciaForm.controls['somanomes'].hasError('required') && vigenciaForm.controls['somanomes'].touched"
                class="form-error-msg">
                Obrigatório </small>
            </div>
            <div fxFlex="100" class="mt-1">
              <button mat-raised-button color="primary" class="mr-1 mt-1"
                [disabled]="vigenciaForm.invalid">Salvar</button>
              <span fxFlex></span>
              <button mat-stroked-button color="primary" type="button" class="mt-1"
                (click)="cancelarFormularioVigencia()">Cancelar</button>
              <span fxFlex=10></span>  
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div> -->
  <!-- fim tabela -->