<!-- pesquisa -->
<div class="m-1">
  <form [formGroup]="filterForm">
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <mat-select name="pesquisarpor" id="pesquisarpor" placeholder="Por" class="mb-1" [formControl]="filterForm.controls['pesquisarpor']">
            <mat-option value="codigo" ngDefaultControl>Código</mat-option>
            <mat-option value="procedimento" ngDefaultControl>Procedimento</mat-option>
            <mat-option value="situacao" ngDefaultControl>Situação</mat-option>
            <mat-option value="rolans" ngDefaultControl>Rol ANS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1" [formControl]="filterForm.controls['search']">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarProcedimentos()" [disabled]="filterForm.invalid" matTooltip="Pesquisar Procedimento">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="mr-1" (click)="todosProcedimentos()" matTooltip="Listar todas Situaões"><mat-icon>list</mat-icon></button>
  <span fxFlex="10px"></span>
  <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormulario(0)" [disabled]="!InserirProcedimento" *ngIf="!formulario" matTooltip="Inserir Procedimento">
    <mat-icon>create</mat-icon>
  </button>
</div>
<!-- fim pesquisa -->

<!-- Formulário -->
<div *ngIf="formulario">
  <mat-card class="p-0">
    <mat-card-content>
      <mat-card-header class="pb-1">
        <div *ngIf="id==0">
          <h5 class="pb-1">
            <strong>Novo</strong> procedimento</h5>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="id>0">
          <h5 class="pb-1">
            <strong>Alterar</strong> procedimento</h5>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <form [formGroup]="procedimentoForm" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="codigo" id="codigo"  [formControl]="procedimentoForm.controls['codigo']" placeholder="Código">
            </mat-form-field>
            <small *ngIf="procedimentoForm.controls['codigo'].hasError('required') && procedimentoForm.controls['codigo'].touched" class="form-error-msg">
             O código do procedimento é obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="procedimento" id="procedimento"  [formControl]="procedimentoForm.controls['procedimento']" placeholder="Procedimento">
            </mat-form-field>
            <small *ngIf="procedimentoForm.controls['procedimento'].hasError('required') && procedimentoForm.controls['procedimento'].touched" class="form-error-msg">
             O procedimento é obrigatório </small>
          </div>

          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="descricao" id="descricao"  [formControl]="procedimentoForm.controls['descricao']" placeholder="Descrição">
            </mat-form-field>
            <small *ngIf="procedimentoForm.controls['descricao'].hasError('required') && procedimentoForm.controls['descricao'].touched" class="form-error-msg">
              A descrição é obrigatório </small>
           </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="carencia" id="carencia"  [formControl]="procedimentoForm.controls['carencia']" placeholder="Carência">
            </mat-form-field>
            <small *ngIf="procedimentoForm.controls['carencia'].hasError('required') && procedimentoForm.controls['carencia'].touched" class="form-error-msg">
              A carencia é obrigatório </small>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select name="tempo" id="tempo" [formControl]="procedimentoForm.controls['tempo']"  placeholder="Tempo" class="mb-1">
			    <mat-option value="" ngDefaultControl></mat-option>
                <mat-option value="h" ngDefaultControl>Horas</mat-option>
                <mat-option value="d" ngDefaultControl>Dias</mat-option>
                <mat-option value="m" ngDefaultControl>Meses</mat-option>
                <mat-option value="a" ngDefaultControl>Anos</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select name="grupo_id" id="grupo_id" [formControl]="procedimentoForm.controls['grupo_id']" placeholder="Especialidade/Grupo"
                class="mb-1">
                <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
                  {{grupo.grupo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="procedimentoForm.controls['grupo_id'].hasError('required') && procedimentoForm.controls['grupo_id'].touched" class="form-error-msg">
              A especialidade/grupo é obrigatório </small>
            </div>


          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select name="situacao" [formControl]="procedimentoForm.controls['situacao']" placeholder="Situação" class="mb-1">
                <mat-option value="Ativo" ngDefaultControl>Ativo</mat-option>
                <mat-option value="Inativo" ngDefaultControl>Inativo</mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="procedimentoForm.controls['situacao'].hasError('required') && procedimentoForm.controls['situacao'].touched" class="form-error-msg">
            A situação é obrigatório </small>
          </div>

          <div fxflex="100" class="pr-1">
            <div class="full-width">
              <mat-slide-toggle name="rolans" id="rolans" [formControl]="procedimentoForm.controls['rolans']">Faz parte do Rol Básico da ANS</mat-slide-toggle>
            </div>
          </div>

          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="procedimentoForm.invalid">Salvar</button>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" type="button" (click)="cancelarFormulario()">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim formulário -->

<!-- Tabela  -->
<div *ngIf="procedimentos.length && !formulario">
  <mat-card class="p-0">
    <mat-card-content class="p-0">
      <ngx-datatable class="material ml-0 mr-0"
      [rows]="procedimentos"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="50"
      [externalPaging]="true"
      [count]="page_totalElements"
      [offset]="page_pageNumber"
      [limit]="page_size"
      (page)='paginacao($event)'
      [rowHeight]="'auto'">
        <ngx-datatable-column name="Especialidade/Grupo" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.grupo.grupo }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Código" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.codigo }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Procedimento" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.procedimento }}
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Descrição" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.descricao }}
          </ng-template>
        </ngx-datatable-column>
       
        <ngx-datatable-column name="Rol ANS" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.drolans }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Carência" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.dcarencia }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Situação" [flexGrow]="2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.situacao }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ação" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="abrirFormulario(row.id )" [disabled]="!AlterarProcedimento" matTooltip="Editar Procedimento">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="warn" (click)="removerProcedimento(row)" [disabled]="!ExcluirProcedimento " matTooltip="Excluir procedimento">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim tabela -->

