<!-- pesquisa -->
<div class="m-1">
  <form [formGroup]="filterForm">
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <mat-select name="pesquisarpor" id="pesquisarpor" placeholder="Por" class="mb-1" [formControl]="filterForm.controls['pesquisarpor']">
            <mat-option value="coparticipacao" ngDefaultControl>Coparticipação</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="60" class="pr-1">
      <div class="pb-1">
        <mat-form-field class="full-width default-bg">
          <input matInput name="searchProduct" placeholder="Pesquisar" class="mb-1" [formControl]="filterForm.controls['search']">
        </mat-form-field>
      </div>
    </div>
  </form>
  <button mat-mini-fab color="primary" class="mr-1" (click)="pesquisarCoparticipacoes()" [disabled]="filterForm.invalid"  matTooltip="Pesquisar coparticipação">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-mini-fab color="primary" class="mr-1" (click)="todasCoparticipacoes()" atTooltip="Pesquisar coparticipação">
    <mat-icon>list</mat-icon>
  </button>
  <span fxFlex="20px"></span>
  <button mat-mini-fab color="warn" class="mr-1" (click)="abrirFormulario(0)" [disabled]="!InserirCoparticipacao" *ngIf="!formulario" matTooltip="Inserir coparticipação">
    <mat-icon>create</mat-icon>
  </button>
</div>
<!-- fim pesquisa -->

<!-- Formulário -->
<div *ngIf="formulario">
  <mat-card class="p-0">
    <mat-card-content>
      <mat-card-header class="pb-1">
        <div *ngIf="id==0">
          <h5 class="pb-1">
            <strong> Novo </strong> coparticipação</h5>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="id>0">
          <h5 class="pb-1">
            <strong> Alterar </strong> coparticipação</h5>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <form [formGroup]="coparticipacaoForm" (ngSubmit)="submit()">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="pr-1 pt-1">
            <mat-form-field class="full-width">
              <input matInput name="coparticipacao" id="coparticipacao" [formControl]="coparticipacaoForm.controls['coparticipacao']" placeholder="Coparticipação">
            </mat-form-field>
            <small *ngIf="coparticipacaoForm.controls['coparticipacao'].hasError('required') && coparticipacaoForm.controls['coparticipacao'].touched" class="form-error-msg">
              A coparticipação é obrigatório
            </small>
            <small *ngIf="coparticipacaoForm.controls['coparticipacao'].hasError('maxlength') && coparticipacaoForm.controls['coparticipacao'].touched"
            class="form-error-msg"> Máximo 100 caracteres 
            </small>
          </div>
		  
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" [disabled]="coparticipacaoForm.invalid" matTooltip="Salvar coparticipação">Salvar</button>
            <span fxFlex></span>
            <button mat-stroked-button color="primary" type="button" (click)="cancelarFormulario()" matTooltip="Voltar">Cancelar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim formulário -->

<!-- Tabela  -->
<div *ngIf="coparticipacoes.length && !formulario">
  <mat-card class="p-0">
    <mat-card-content class="p-0">
      <ngx-datatable class="material ml-0 mr-0" [rows]="coparticipacoes" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [externalPaging]="true"
        [count]="page_totalElements" [offset]="page_pageNumber" [limit]="page_size" (page)='paginacao($event)' [rowHeight]="'auto'">
        <ngx-datatable-column name="Coparticipação" [flexGrow]="3">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.coparticipacao }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ação" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="abrirFormulario(row.id )" [disabled]="!AlterarCoparticipacao" matTooltip="Alterar coparticipação">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-sm-button color="warn" (click)="removerCoparticipacao(row)" [disabled]="!ExcluirCoparticipacao || row?.planos_count > 0" matTooltip="Excluir coparticipação">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
</div>
<!-- fim tabela -->